{% extends 'base.html.twig' %}

{% block main_title %}
    Add new promotion
{% endblock %}

{% block main %}
    <div class="well">
        <h3>Add new promotion</h3>
        <hr>
        {{ form_start(form) }}
        <div class="container body-container">
            <div class="form-group">
                <div> <strong>Name</strong>: {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <div> <strong>Description</strong>: {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <div> <strong>Discount</strong>: {{ form_widget(form.discount,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <div> <strong>Start date</strong>: {{ form_widget(form.startDate,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <div> <strong>End date</strong>: {{ form_widget(form.endDate,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <a class="btn btn-default" href="{{ path('admin_view_promotions') }}">Cancel</a>
                <button class="btn btn-success">Add</button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

