{% extends 'base.html.twig' %}

{% block main_title %}Promotions{% endblock %}

{% block main %}
    <div class="well">
        <h3>All shop promotions</h3>
        <div class="text-left">
            <a href="{{ path('admin_add_promotion') }}" class="btn btn-success btn-xs">Add new promotion</a>
        </div>
        <hr>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Discount</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for promotion in promotions %}
                <tr>
                    <td>{{ promotion.id }}</td>
                    <td>{{ promotion.name }}</td>
                    <td>{{ promotion.description }}</td>
                    <td>{{ promotion.discount }}</td>
                    <td>{{ promotion.startDate|date }}</td>
                    <td>{{ promotion.endDate|date }}</td>
                    <td>
                        <a href="{{ path('admin_edit_promotion', {'id': promotion.id}) }}" class="btn btn-warning btn-xs">Edit</a>
                    </td>
                    <td>
                        <form action="{{ path('admin_delete_promotion', {'id': promotion.id}) }}" method="post">
                            <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}