{% if is_granted("ROLE_EDITOR") %}
    <nav class="navbar-right">
        <ul class="nav navbar-nav">
            {% block nav_editor %}
                <li class="badge"><a href="{{ path('admin_list_products') }}">Manage Products </a></li>
                <li class="badge"><a href="{{ path('admin_view_categories') }}">Manage Categories </a></li>
                <li class="badge"><a href="{{ path('admin_view_promotions') }}">Manage Promotions </a></li>
            {% endblock %}
        </ul>
    </nav>
{% endif %}
{% if is_granted("ROLE_ADMIN") %}
    <nav class="navbar-right">
        <ul class="nav navbar-nav">
            {% block nav_admin %}
                <li class="badge"><a href="{{ path('admin_list_products') }}">Manage Products </a></li>
                <li class="badge"><a href="{{ path('admin_view_categories') }}">Manage Categories </a></li>
                <li class="badge"><a href="{{ path('admin_list_users') }}">Manage Users </a></li>
                <li class="badge"><a href="{{ path('admin_list_orders') }}">Manage Orders </a></li>

            {% endblock %}
        </ul>
    </nav>
{% endif %}
