<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <article>
                <header>
                    <h2>{{ product.name }}</h2>
                </header>
                <div class="thumbnail" >
                    <img style="height: 250px" src="{{ asset('images/'~ product.imageName ~'') }}" alt="{{ product.name }}">
                </div>
                {% if product.seller %}
                    <hr>
                    <p class="bg-primary img-responsive">Seller: {{ product.seller.fullName }}</p>
                {% endif %}

                <small class="text-left">
                    {{ product.category.name }}
                </small>
                <p class="text-left" style="color: #0e6f5c;"><strong>PRICE: € {{ product.price }}</strong></p>
                <footer>
                        <a class="btn btn-default"
                           href="{{ path('view_product',{'id':product.id}) }}">Read more &raquo;</a>
                    {% if app.user %}
                            <form method="post" action="{{ path('user_cart_add', {'id': product.id}) }}"
                                  style="display: inline-block">
                                <button class="btn btn-success" type="submit"> Add to Cart
                                </button>
                            </form>
                    {% else %}
                        <form method="post" action="{{ path('security_login') }}"
                              style="display: inline-block">
                            <button class="btn btn-success" type="submit"> Add to Cart
                            </button>
                        </form>
                    {% endif %}
                </footer>
            </article>
        </div>
    {% endfor %}
</div>