{% extends 'base.html.twig' %}

{% block main_title %}
Add new product category
{% endblock %}

{% block main %}
    <div class="well">
        <h3>Add new category</h3>
        <hr>
        {{ form_start(form) }}
        <div class="container body-container">
            <div class="form-group">
                <div> <strong>Name</strong>: {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <div> <strong>Image URL</strong>: {{ form_widget(form.imageUrl,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <div> <strong>Parent</strong>: {{ form_widget(form.parent,{'attr':{'class':'form-control'}}) }}</div>
                <br>
                <a class="btn btn-default" href="{{ path('admin_view_categories') }}">Cancel</a>
                <button class="btn btn-success">Add</button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

